.cart-img {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-left: 7%;
    align-items: center;
    word-wrap: normal;
}

.container p {
    margin: 20px 0%;
}

.container h1 {
    font-size: 45px;
    font-weight: 800;
    padding-right: 25%;
}

.center-img {
    height: 55%;
    width: 45%;
    padding-right: 10%;
}