.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10% 5% 0% 0%;
}

.text-container .watch-title {
    font-size: 45px;
    font-weight: 800;
}

.text-container p {
    margin: 2% 0%;
    font-size: 20px;
    font-weight: 300;
    word-wrap: break-word;
}

.band-img {
    width: 28%;
    height: 28%;
    margin-left: 15%;
}